<section class="statsSection" id="PartenersSection">
  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row text-white">
            <div class="col-lg-12 text-center ">
              <h2 style="color : white">Our Partners</h2>

              <hr class="light"/>

            </div>
            <br/>

            <div class="col-md-4 mt-5 ">
              <img class="img-fluid partnersImg text-center" src="../assets/images/Parteners/sparkasse-logo-1024x356.png" alt="sparkasse"/>
            </div>
            <div class="col-md-4 mt-5">
              <img class="img-fluid partnersImg text-center" src="../assets/images/Parteners/rwth.png" alt="rwth"/>
            </div>
            <div class="col-md-4 mt-5">
              <img class="img-fluid partnersImg text-center" src="../assets/images/Parteners/Tunisair_logo.png" alt="tunisair"/>
            </div>

        </div>


      </div>

    </div>

  </div>

</section>
