.logoContainer {
    max-width:12%; 
    border: 0 0 0 5px solid #323232;
    border-radius: 5px;
}
.inputContainer {
  font-size: 20px; 
  color: #111;
}
.inputContainer, .cryptoSelect {
    height: 40px;
    border-radius: 2px !important; 
    border: 1px solid #919aa1;
}
.logoImage {
    min-width: 100px !important;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #919aa1;
    cursor: default;
    transition: 1s all;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #111;
  }
  .fa-circle {
      font-size: 6px;
  }
  .cryptoList {
    margin:0 auto;
    width:fit-content
  }
.cryptoSelect, .currencySelect {
    background: #111;
    color: white;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url(../assets/images/arrow.png); 
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 12px;  /* add custom arrow */
    border-color: #111;
}
.currencySelect {
  font-size: 11px !important;
  background-size:  10px!important;
  border-radius: 5px 5px 0 0 !important;
}
.currencySelectContainer {
  position: relative;
  width: 70px;
  top:  1rem;
  left: 94%;
}
.panel {
  position: absolute;
  display: table;
  top:calc(50% - 40px);
  width: 60%;
  left: 20%;
}
.subPanel {

  display: table-cell;
  vertical-align: middle;
}