<app-header-admin></app-header-admin>

<div class="mainContainerEvent container ">
    <div class="row">

      <!-- Event Tab -->
        <div class="AlleventTab">
          <div class="widgetTitleWrapper pb-2">
            <h3 class="widgetTitle pl-3">All Members

              <a routerLink="/admin/Members/create" class="addNewMemberBadge"><i class="fas fa-plus"></i> | Add New Member</a>

            </h3>

          </div>
          <app-admin-list-members></app-admin-list-members>

        </div>


    </div>
   </div>
   <footer class="mt-5">
    <div class="container text-center">
      <p>Designed by <a href="#"><span>Funcheta Studio</span></a></p>
    </div>
  </footer>
