
   <!-- Header -->
<app-header-admin></app-header-admin>

<div class="mainContainerEvent container ">
  <div class="row">
    <div class="col-4">
    <!-- Event Tab -->
    <div class="AlleventTab">
      <div class="widgetTitleWrapper pb-2">
        <h3 class="widgetTitle pl-3">All Events

          <a routerLink="/admin/Events/create" class="addNewEventBadge"><i class="fas fa-plus"></i> | Add New Event</a>

        </h3>

      </div>
      <app-admin-list-event></app-admin-list-event>


    </div>
    </div>



  </div>





</div>
   <footer >
     <div class="container text-center">
       <p>Designed by <a href="#"><span>Funcheta Studio</span></a></p>
     </div>
   </footer>
