
    <section class="servicesSection" id="services">
        <div class="container mb-5">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading"><strong>What We Do</strong></h2>
              <hr class="my-4">
            </div>
          </div>
        </div>
        <br/>
        <div class="container mt-5 mb-5">
          <div class="row ">
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-bullhorn text-primary mb-3 sr-icon-1"></i>
                <h3 class="mb-3">Events</h3>
                <p class="text-muted mb-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-2"></i>
                <h3 class="mb-3">Projects</h3>
                <p class="text-muted mb-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">

                <i class="fas fa-4x fa-handshake text-primary mb-3 sr-icon-3"></i>
                <h3 class="mb-3">Culture</h3>
                <p class="text-muted mb-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et

                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                <h3 class="mb-3">Connect</h3>
                <p class="text-muted mb-0">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et
                  </p>
              </div>
            </div>
          </div>
        </div>
      </section>
