   <!-- Fixed navbar -->
   <nav class="navbar  navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logoAdmin navbar-brand" routerLink="/admin" routerLinkActive="active"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav navbar-right">
          <!-- Events Flag -->
          <li *ngIf="!(eventFlag || eventCreateFlag || eventEditFlag) ">
              <a routerLink="/admin/Events">Events</a>
            </li>
          <li *ngIf="eventFlag || eventCreateFlag || eventEditFlag" class="active">
              <a routerLink="/admin/Events">Events</a>
          </li>
           <!-- Projects Flag -->
          <li *ngIf="!(projectFlag || projectCreateFlag || projectEditFlag) ">
            <a routerLink="/admin/Projects">Projects</a>
          </li>
          <li *ngIf="projectFlag || projectCreateFlag || projectEditFlag" class="active">
              <a routerLink="/admin/Projects">Projects</a>
          </li>
           <!-- Members Flag -->
          <li *ngIf="!membersFlag && !membersCreateFlag">
              <a routerLink="/admin/Members">Members</a>
          </li>
          <li class="active" *ngIf="membersFlag || membersCreateFlag">
              <a routerLink="/admin/Members" >Members</a>
          </li>
          <li><a (click)="onLogout()"><span class="navSeperator"> </span>  <i class="fas fa-power-off ml-5"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
   <!-- Sub Menu Section -->
  <div class="subHeaderWrapper">
   <div class="container">
     <div class="row justify-content-between">
      <div class="col-xs-4">
       <h4 *ngIf="homeFlag" class="subMenuTitle ml-5"><i class="fab fa-buffer mr-2"></i>Dashboard</h4>
       <h4 *ngIf="membersFlag || membersCreateFlag" class="subMenuTitle ml-5"><i class="fas fa-users mr-2"></i>Members</h4>
       <h4 *ngIf="eventFlag || eventCreateFlag || eventEditFlag" class="subMenuTitle ml-5"><i class="fas fa-bullhorn mr-2"></i>Events</h4>
      </div>
       <div class="col-xs-4 text-center">
         <h5 class="userAlias">
            <span class="roleUser">
              <strong style="text-transform: uppercase"><i class="fas fa-user mr-1"></i>
                {{currentUser.name}}
              </strong>
            </span>
            <span class="userRole">
               Admin
            </span>
          </h5>
       </div>
       <div class="col-xs-4 subHeaderMenu ">
         <h4 >
            <a *ngIf="homeFlag" routerLink="/admin" class="subHeaderMenuElement" style="color: #e71425;">Home </a>
              <i *ngIf="homeFlag" class="fas fa-caret-right ml-2 mr-5 "></i>
            <!-- Event SubMenu-->
            <a  *ngIf="eventFlag || eventCreateFlag || eventEditFlag" routerLink="/admin" class="subHeaderMenuElement" >Home </a>
              <i *ngIf="eventFlag || eventCreateFlag || eventEditFlag" class="fas fa-caret-right ml-2 mr-3"></i>
            <a *ngIf="eventFlag" routerLink="/admin/Events" class="subHeaderMenuElement" style="color: #e71425;">Events </a>
              <i *ngIf="eventFlag" class="fas fa-caret-right ml-2 mr-5 "></i>
             <!-- Event create/add SubMenu-->
            <a *ngIf="eventCreateFlag || eventEditFlag"  routerLink="/admin/Events" class="subHeaderMenuElement">Events </a>
              <i *ngIf="eventCreateFlag || eventEditFlag"  class="fas fa-caret-right ml-2 mr-2"></i>
            <a *ngIf="eventCreateFlag"  class="subHeaderMenuElement" style="color: #e71425;">
              Create Event
            </a>
            <a *ngIf="eventEditFlag" class="subHeaderMenuElement" style="color: #e71425;">
              Edit Event
            </a>

            <!-- Project SubMenu-->
            <a  *ngIf="projectFlag || projectCreateFlag || projectEditFlag" routerLink="/admin" class="subHeaderMenuElement" >Home </a>
            <i *ngIf="projectFlag || projectCreateFlag || projectEditFlag" class="fas fa-caret-right ml-2 mr-3"></i>
            <a *ngIf="projectFlag" routerLink="/admin/Project" class="subHeaderMenuElement" style="color: #e71425;">Projects </a>
            <i *ngIf="projectFlag" class="fas fa-caret-right ml-2 mr-5 "></i>
           
            <!-- Project create/add SubMenu-->
            <a *ngIf="projectCreateFlag || projectEditFlag"  routerLink="/admin/Project" class="subHeaderMenuElement">Projects </a>
            <i *ngIf="projectCreateFlag || projectEditFlag"  class="fas fa-caret-right ml-2 mr-2"></i>
            <a *ngIf="projectCreateFlag"  class="subHeaderMenuElement" style="color: #e71425;">Create Project</a>
            <a *ngIf="projectEditFlag" class="subHeaderMenuElement" style="color: #e71425;"> Edit Project</a>

            <!-- Members Submenu-->
            <a  *ngIf="membersFlag || membersCreateFlag" routerLink="/admin" class="subHeaderMenuElement" >Home </a>
            <i *ngIf="membersFlag || membersCreateFlag" class="fas fa-caret-right ml-2 mr-3"></i>
            <a *ngIf="membersFlag " routerLink="/admin/Members" class="subHeaderMenuElement" style="color: #e71425;">Members </a>
            <i *ngIf="membersFlag" class="fas fa-caret-right ml-2 mr-5 "></i>
            <!-- Members create SubMenu-->
            <a *ngIf="membersCreateFlag " routerLink="/admin/Members" class="subHeaderMenuElement" >Members </a>
            <i *ngIf="membersCreateFlag" class="fas fa-caret-right ml-2 mr-3 "></i>
            <a *ngIf="membersCreateFlag " routerLink="/admin/Members/create" class="subHeaderMenuElement" style="color: #e71425;">create </a>
            <i *ngIf="membersCreateFlag" class="fas fa-caret-right ml-2 mr-5 "></i>



        </h4>
       </div>
     </div>
   </div>
  </div>
